extends /core/base

block content
  .well.container.text-center
    a(href="https://www.facebook.com/scott.erickson.779")
      img.img-rounded(src="/images/facebook.png")
    a(href="https://github.com/sderickson")
      img.img-rounded(src="/images/octocat.png")
    a(href="https://plus.google.com/117237610760336105718")
      img.img-rounded(src="/images/gplus.png")
    a(href="https://twitter.com/sderickso")
      img.img-rounded(src="/images/twitter.png")
    a(href="https://www.linkedin.com/in/scott-erickson-65b2a019")
      img.img-rounded(src="/images/linkedin.png")
