extends /core/base

block content
  //.row
  //  .col-sm-6
  //
  //    h2 Projects
  //    .list-group
  //      a.list-group-item(href="https://codecombat.com/") CodeCombat
  //      a.list-group-item(href="https://skritter.com/") Skritter
  //      a.list-group-item(href="https://conaudioarchive.oberlin.edu/") Oberlin Conservatory Archive
  //
  //  .col-sm-6
  //
  //    h2 Social
  //    
  //    ul
  //      li
  //        a(href="https://github.com/sderickson") GitHub
  //      li
  //        a(href="https://www.goodreads.com/user/show/1450253-scott-erickson") Goodreads
  //      li
  //        a(href="https://www.facebook.com/scott.erickson.779") Facebook
  //      li
  //        a(href="https://plus.google.com/117237610760336105718") Google Plus
  //      li
  //        a(href="https://drive.google.com/open?id=0B6N_AnYqXHyDNDI2MGE1ZTQtMjgyMi00NTA3LWIxMzQtZGZjMDI0OGRkMjBl") Recipes
  //      li
  //        a(href="https://play.spotify.com/user/sderickson") Spotify
      
