extends /core/base

block content
  .jumbotron
    .container
      .row
        .col-xs-12.text-center
          img.img-circle(src="/images/portrait.jpg")
          h1 Scott Erickson
          h2 Web Developer
