extends /core/base

block content
  .well.container
    h1.text-center About
    
    p 
      | Hi! I'm a programmer and entrepreneur living in Berkeley, California.
      | I've founded two educational software companies, 
      | <a href="http://www.skritter.com/">Skritter</a> and
      | <a href="http://codecombat.com/">CodeCombat</a>.
    
    p
      | Writing stable, communicative code is my passion.
      | Conveying the purpose of code, leveraging shared mental models, and striving for simplicity.
      | Using abstractions when useful, not when possible.
      | Asking with every line, how do others see this?
    
    p
      | More important, though, is balance, in work and in life.
      | On projects, being mindful of competing goals and ideals. Spending time for myself and others. Working for the future, building on the past, and mindfully experiencing the present. These are my values.
