extends /templates/common/base

block content
  .page-header
    h1 Scott Erickson's Home Page
    
  h2 Links
  
  ul
    li
      a(href="https://github.com/sderickson") GitHub
    li
      a(href="https://www.goodreads.com/user/show/1450253-scott-erickson") Goodreads
    li
      a(href="https://www.facebook.com/scott.erickson.779") Facebook
    li
      a(href="https://plus.google.com/117237610760336105718") Google Plus
    li
      a(href="https://drive.google.com/open?id=0B6N_AnYqXHyDNDI2MGE1ZTQtMjgyMi00NTA3LWIxMzQtZGZjMDI0OGRkMjBl") Recipes
    li
      a(href="https://play.spotify.com/user/sderickson") Spotify   
      
  h2 Projects
  
  ul
    li
      a(href="https://codecombat.com/") CodeCombat
    li
      a(href="https://conaudioarchive.oberlin.edu/") Oberlin Conservatory Archive
    li
      a(href="https://skritter.com/") Skritter
