#base-nav.navbar.text-center
  ul.nav.nav-pills.navbar-nav
    li
      a(href="/") Home
    li
      a(href="/about") About
    //li
    //  a(href="/projects") Projects
    li
      a(href="/connect") Connect

block content
